/*<!--底部区域-->*/
.footer{
    height: 396px;
    width: 100%;
    margin-top: 20px;

}
.footer .footer-tit>ul{
    float: left;
    font-size: 20px;
    color: rgba(0,0,0,0.5);
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 140px;

}
.footer .footer-tit>ul>li{
    font-size: 12px;
    /*color: rgba(0,0,0,0.5);*/

}
.footer .footer-tit>ul>li a{
    color: rgba(0,0,0,0.4);
}
.footer .footer-tit>ul>li a:hover{
    color: rgba(255,0,0,0.6);
}
.footer .footer-tit>ul .tit{
    margin-bottom: 10px;
}
.footer .footer-tit>ul>li>p{
    font-size: 12px;
    color: #ccc;
}
